lab/zeos/*.o
lab/zeos/*.s
lab/zeos/bochsout.txt
lab/zeos/parport.out
lab/zeos/system.out
lab/zeos/system
lab/zeos/bootsect
lab/zeos/zeos.bin
lab/zeos/user
lab/zeos/user.out
lab/zeos/build 
lab/compile_commands.json
lab/.cache
lab/apuntes_jafeth.txt
